.navbar {
    background-image: url('../../img/bunny_banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 1rem;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .btn-link {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    color: #ff69b4;
    text-decoration: none;
    position: relative;
}

.navbar-nav .btn-link:hover,
.navbar-nav .btn-link:focus {
    color: #ff69b4;
    text-decoration: none;
}

.navbar-nav .btn-link.active {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar-nav .btn-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}